 @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
            margin:0;
            padding: 0;
            border: 0;
}
        body {
            background-color: #252525;
            background-image: url(https://media.tenor.com/OTTUewido_QAAAAC/guts-berserk.gif);
            background-size: cover;
            margin: 0;
            padding: 0;
            border: 0;
            }
    header{
        padding: 28px;
        border-bottom: 1px solid #0000;
        background-color: rgba(0, 0, 0, 0.0);
    }
    header div{
        text-align: center;
    }
    header div a{
        color: white;
        font-size: 20px;
        line-height: 30px;
        margin:0 16px;
        text-decoration: none;
        font-family:'Nunito', sans-serif;
    }
    header div a:hover{
        color: red;
        transition: color 800ms;
    }
#box{
    text-align: center;
    padding: 18px;
}
#box img{
    border-radius: 50%;
    border: 4px solid hsl(0, 73%, 14%);
    margin-bottom: 18px;
    
}
#box h1 {
    font-size: 42px;
    line-height: 28px;
    font-weight: bold;
    padding: 4px;
    color: aliceblue;
}    
#box h2{
    font-size: 24px;
    line-height: 23px;
    font-weight: normal;
    margin-top: 8px;
    opacity: 0.8;
    padding: 10px; 
    color: aliceblue;
}
#box p{
    max-width: 500px;
    margin: 32px auto;
    font-size: 24px;
    line-height: 22px;
    color: aliceblue;
}
    header{
    padding: 32px;
    border-bottom: 3px solid var #dc143c;
    background-color: rgba(0, 0, 0, 0.1);
}
header div{
    text-align: center;
}
.links{
    text-align: center;
    transition: 600ms;
 }
.links a{
    color: whitesmoke;
    font-size: 32px;
    line-height: 28px;
    margin: 0 16px;
    text-decoration: wavy;
    transition: 600ms;
}
.link a:hover{
    color:#dc143c;
    transition: 600ms;
    font-size: 23px;
    transition: 600ms;
}
#box p:hover{
    font-size: 23px;
}
#box a{
    color: #dc143c;
    transition: 600ms;
}
#linksFooter{
    padding-top: 32px;
}
#linksFooter a{
    padding-top:32px ;
    padding-bottom: 8px;
    border-bottom:3px solid #dc143c;
}
#linksFooter a:hover{
    color:#dc143c;
    transition: 600ms;
    font-size: 23px; 
}